@import "../../assets/styles/setting";

.page-not-found-wrapper {
    .content {
        height: 55vh;

        img {
            display: block;
            width: 45vw;
            max-height: 550px;
            min-height: 300px;
            margin: 0 auto;
            position: relative;
            bottom: 50px;
            object-fit: contain;
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
        }

        a.go-home {
            background-color: $red;
            color: snow;
            padding: 10px 20px;
        }
    }
}