@import "../../assets/styles/setting";

.cart-page-wrapper {
    padding: 100px;
    text-align: center;
    @include grid(2, $gap: 50px);
    grid-template-columns: 1fr 1fr;
    width: 100%;
    

    .products-content {
        width: 100%;

        .product-item-component-wrapper {
            margin-bottom: 50px;
            @include flex(row);
            width: 95%;
            padding: 20px 40px;
            box-shadow: 5px 5px 15px $violet-dark,
                -5px -5px 15px $violet-dark,
                -5px 5px 15px $violet-dark,
                5px -5px 15px $violet-dark;
            border-radius: 10px;

            button {
                font-size: 1em;

                &:active {
                    transform: scale(0.6);
                }
            }



            .product-item {
                @include flex(row,$gap:20px);

            }

            .info-wrapper {
                .products-count {
                    padding: 5px 10px;
                    width: 200px;
                    margin-left: 20px
                }
            }

            &>div {
                @include flex(row);
            }

            .product-item-total-price {
                border-left: 2px solid $violet;
                padding-left: 20px;

                span {
                    display: inline-block;
                    padding: 5px 10px;
                    background-color: $violet;
                    color: $light;
                }
            }
        }
    }

    .prices-wrapper {
        @include flex(column, center, center, 20px);
        position: sticky;  
        top: 20px;         
        background-color: $violet-dark;
        width: 100%; 
        border-radius: 10px;
        z-index: 10;  
        height: 40vh;      
    
        h2, h4 {
            mark {
                background-color: $violet;
                color: $light;
            }
        }
    }
    
    
}
