@import "../../../assets/styles/setting";

.discount {
    margin-left: 20px;
    color: rgba(255, 0, 0, 0.434);
    font-size: 1em;
    text-decoration: line-through;
}
    .promotion-section {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        justify-content: space-between;
        .promo-banner {
            flex: 1;
            background-color: #3615db0d;
            padding:30px;
            border-radius: 8px;
            position: relative;
            text-align: left;
            cursor: pointer;

            h3 {
                font-size: 1.5em;
                color: #333;
                margin-bottom: 10px;
                color: #151875;
            }

            a {
                color: #ff0050;
                font-weight: bold;
                text-decoration: none;
                float: left;
                border-bottom: 2px red solid;
            }

            img {
                width: 250px;
                height: 200px;
                margin-top: 15px;
                border-radius: 8px;
            }
        }
        #prom-2{
            background-color: rgba(255, 192, 203, 0.625);
        }

        .side-products {

            flex-basis: 200px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .side-product-item {
                display: flex;
                gap: 10px;
                height: 100%;
                align-items: center;
                border: 1px solid #e0e0e0;
                padding: 21px;
                border-radius: 8px;
                transition: box-shadow 0.3s ease;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 4px;
                    object-fit: cover;
                }

                .product-info {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.9em;

                    .price {
                        color: #7E33E0;
                        font-weight: bold;
                    }
                }
            }
        }
    }
