@import "../../../assets/styles/setting";

.latest-products-wrapper {
    text-align: center;
    padding: 20px 200px;

    h1 {
        font-size: 42px;
    }

    .pagination-wrapper {
        margin: 20px 0;

        * {
            margin: 2px;
        }

        .item {
            font-size: 1.1em;
            border-radius: 5px;

            &.active,
            &:hover {
                background: $red-gradient;
                color: $light;
                transform: scale(1.1);
            }

            &:active {
                transform: scale(1);
            }
        }
    }

    .products-wrapper-container {
        @include grid(3, 1fr, 100px);
        margin: 50px 0;
        padding: 20px 0;

        .product-item-wrapper {
            width: 250px;
            height: 220px;
            background-color: #F7F7F7;
            padding-top: 20px;
            transition: 0.2s;

            img {
                width: 180px;
                height: 180px;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        .row {
            @include flex(row, center, space-between);

            p {
                display: inline-block;
                border-bottom: 2px solid lightgray;
                padding: 3px 0;
            }

            .price-wrapper {
                padding: 10px 0;
                display: flex;
                flex-direction: row;
                align-items: center;

                del {
                    color: red;
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }
}


@media (max-width: $x-large) {
    .latest-products-wrapper {
        padding: 20px 100px;

        h1 {
            font-size: 36px;
        }

        .products-wrapper-container {
            @include grid(2, 1fr, 50px);

            .product-item-wrapper {
                width: 200px;
                height: 180px;

                img {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
}

@media (max-width: $large) {
    .latest-products-wrapper {
        padding: 20px 50px;
        h1 {
            font-size: 30px;
        }
        
        .products-wrapper-container {
            @include grid(3, 1fr, 40px);
            .product-item-wrapper {
                width: 150px;
                height: 150px;
                margin-left: 62px;
                img {
                    width: 130px;
                    height: 130px;
                }
            }
                .row {
                    @include flex(column, center, space-between);
                    .price-wrapper {
                        flex-direction: row;
                        align-items: center;
                    }
            }
        }
    }
}

@media (max-width: $medium) {
    .latest-products-wrapper {
        padding: 20px 20px;
        h1 {
            font-size: 26px;
        }

        .products-wrapper-container {
            @include grid(3, 1fr, 20px);

            .product-item-wrapper {
                margin-left: 15%;
                width: 120px;
                height: 120px;

                img {
                    width: 100px;
                    height: 100px;
                }
            }

            .row {
                @include flex(column, center, space-between);
                .price-wrapper {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }
}

@media (max-width: $small) {
    .latest-products-wrapper {
        padding: 10px;
        h1 {
            font-size: 22px;
        }
        
        .products-wrapper-container {
            @include grid(1, 1fr, 10px);
            
            .product-item-wrapper {
                background-color: #F7F7F7;
                margin-top: 50px;
                margin-left: 140px;
                width: 110px;
                height:110px;

                img {
                    width: 80px;
                    height: 80px;
                }
            }

            .row {
                flex-direction: column;
                align-items: center;

                .price-wrapper {
                    flex-direction: row;
                    align-items: center;
                    padding: 5px 0;
                }
            }
        }
    }
}
