.wrapper {
    padding: 50px 100px;
    height: 50vh;
    width: 100%;

    .dark {
        background-color: #333;
        color: snow;
    }

    .container {
        text-align: center;
        margin-top: 20px;
    }
}