@import "../../assets/styles/setting";

.products-page-wrapper {
    .settings-wrapper {
        padding: 20px 200px;

        button {
            background-color: $light-blue;
            color: $light;
            margin: 0 1px;

            &.active {
                background-color: $darkest-blue;
                transform: scale(1.1);
            }
        }
    }

    .create-product-wrapper {
        text-align: center;

        form {
            width: 80%;
            margin: 20px auto;
            @include grid(2, 1fr, 20px);
            grid-template-columns: 1fr 2fr;

            .form-control {
                margin: 15px 0;
                text-align: left;

                textarea,
                input,
                button {
                    width: 100%;
                    display: block;
                    padding: 20px;
                    background-color: transparent;
                }

                ::placeholder {
                    color: $light-blue;
                }

                textarea,
                input {
                    border: 2px solid #9096B250;

                    &[type="color"] {
                        padding: 0 20px;
                    }
                }

                textarea {
                    height: 200px;
                }

                textarea:focus,
                input:focus {
                    outline: 4px solid #FB2E8630;
                    border-color: $red;
                }

                button {
                    width: 150px;
                    background-color: $red;
                    color: snow;
                    font-size: 1.2em;
                    margin-top: 20px;
                    float: right;
                    @include darken_bg_on_hover($red, 10%);
                }

                &.price-discount {
                    @include grid(2, 1fr, 10px);
                    grid-template-columns: 2fr 1fr;
                }

                input[type="file"] {
                    margin-top: 1px;
                    padding: 10px;
                    cursor: pointer;

                    &::-webkit-file-upload-button {
                        border: none;
                        padding: 10px;
                        background-color: $red;
                        color: $light;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}