@import "../../assets/styles/setting";

.products-page-wrapper {
    .settings-wrapper {
        padding: 20px 200px;

        button {
            background-color: $light-blue;
            color: $light;
            margin: 0 1px;

            &.active {
                background-color: $darkest-blue;
                transform: scale(1.1);
            }
        }
    }
}