@import "../../../assets/styles/setting";

.featured-products-wrapper {
    .product-item {
        text-align: center;

        .img-wrapper {
            width: 100%;
            height: 200px;
            background-color: black;
        }
        h4 {
            color: $darkest-blue;
            margin: 10px 0;
        }
        .colors {
            margin: 5px 0;
            @include flex(row, center, center, 5px);

            div {
                height: 2px;
                width: 10px;
                &.green { background-color: $green; }
                &.red { background-color: $red; }
                &.blue { background-color: $darkest-blue; }
            }
        }
        .code, .price { 
            margin: 10px 0;
            font-size: small;
        }
    }
}