@import "../../assets/styles/setting";


.auth-wrapper-container {
    .form-wrapper {
        box-shadow: 2px 2px 30px 2px $violet-dark,
            -2px -2px 30px 2px $violet-dark;
        width: 40%;
        margin: 50px auto;
        padding: 50px;


        p {
            color: $light-blue;
        }

        form {
            margin-bottom: 50px;

            header {
                text-align: center;
                margin-bottom: 50px;

                p {
                    margin-top: 20px;
                }
            }

            .form-control {
                margin: 15px 0;

                input,
                button {
                    width: 100%;
                    display: block;
                    padding: 20px;
                    background-color: transparent;
                }

                ::placeholder {
                    color: $light-blue;
                }

                input {
                    border: 2px solid #9096B250;
                }

                input:focus {
                    outline: 4px solid #FB2E8630;
                    border-color: $red;
                }

                button {
                    background-color: $red;
                    color: snow;
                    font-size: 1.2em;
                    @include darken_bg_on_hover($red, 10%);
                }
            }
        }

        .auth-toggler-container {
            text-align: center;

            button {
                background-color: transparent;
                color: $light-blue;
                border-bottom: 1px solid $violet-dark;
                padding: 5px 0;

                &:hover {
                    color: $red;
                    border-bottom: 1px solid $red;
                }
            }
        }

        @media(max-width: $x-large) {
            width: 60%;
        }

        @media(max-width: $medium) {
            width: 80%;
        }
    }
}