{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block style %}
<style>
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
{% endblock style %}

{% block content %}
<div class="container bg-light text-dark p-3 rounded">
  <h1>Todos</h1>
  <ul>
    {% for todo in todos %}
    <li>
      {% if todo.id in favorite_todos %}
        <a href="{% url 'toggle-favorite' todo.id %}">⭐</a>
      {% else %}
        <a href="{% url 'toggle-favorite' todo.id %}" 
          style="filter: grayscale(100%);">⭐</a>
      {% endif %}

      <a href="{% url 'todo-details' todo.id %}">
        <img src="{{ todo.author.profile.image.url }}" width="30" height="30" class="rounded-circle">
        {{ todo.title }}
      </a>
      <a href="{% url 'update-todo' todo.id %}" class="action update">✍️</a>
      <a style="cursor:pointer;" class="action delete" href="{% url 'delete-todo' todo.id %}">🗑️</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}