{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<div class="container bg-light text-dark p-3 rounded">
  <h1>Todos</h1>
  <ul>
    {% for todo in todos %}
    <li>
      <a href="{% url 'todo-details' todo.id %}">{{ todo.title }}</a>
      <a href="#" class="action update">✍️</a>
      <span style="cursor:pointer;" class="action delete" onclick="deleteItem(event, '{{todo.id}}')">🗑️
      </span>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}



{% block script %}
<script>
  function deleteItem(e, pk) {
    if (confirm("Are you sure to delete?") === false) return

    e.preventDefault()
    let URL = '{% url "delete-todo" 999999999 %}'
    URL = URL.replace("999999999", pk)
    location.href = URL
  }
</script>
{% endblock script %}