<nav id="navbar-example2" class="navbar navbar-dark bg-dark px-3 mb-3">
  <a class="navbar-brand" href="{% url 'home' %}">Todos app</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="btn btn-outline-primary" href="{% url 'create-todo' %}">Create new todo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profile' %}">
        <img 
          style="transform: scale(2);" 
          src="{{ request.user.profile.image.url }}" 
          width="25" height="25"
        >
      </a>
    </li>
  </ul>
</nav>