<nav id="navbar-example2" class="navbar navbar-dark bg-dark px-3 mb-3">
  <a class="navbar-brand" href="{% url 'home' %}">Todos app</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    
    <li class="nav-item">
      <a class="btn btn-outline-primary" href="{% url 'create-todo' %}">Create new todo</a>
    </li>
    
  </ul>
</nav>
