@import "../../../assets/styles/setting";

.reviews-wrapper {
    background-color: $light;
    padding: 70px 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: $violet-light;

    h1 {
        font-size: 42px;
    }

    .reviews-container {
        margin: 30px 0;
        padding: 20px 200px;

        .photos {
            img {
                object-fit: cover;
                border-radius: 5px;
                margin-left: 7px;
                margin-right: 7px;
            }
        }

        p {
            line-height: 1.5;
            margin: 20px 0;
            color: #151875bc;
        }

        .reviews {
            h2 {
                color: $darkest-blue;
                margin-top: 30px;
                margin-bottom: 7px;
            }

            h5 {
                margin-bottom: 15px;
                color: $light-blue;
            }

            .pagination {
                display: flex;
                justify-content: center;
                margin-top: 40px;

                div {
                    width: 50px;
                    height: 9px;
                    border-radius: 10%;
                    background-color: $red;
                    margin: 0 5px;
                    cursor: pointer;

                    &.active {
                        background-color: $darkest-blue;
                    }
                }
            }
        }
    }
}

@media (max-width: $large) {
    .reviews-wrapper {
        padding: 30px 20px;

        h1 {
            font-size: 30px;
        }

        .reviews-container {
            padding: 10px;


            .reviews {
                h2 {
                    font-size: 24px;
                }

                h5 {
                    font-size: 18px;

                    p {
                        font-size: 14px;
                    }

                    .pagination {
                        flex-direction: column;
                        margin-top: 20px;

                        div {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}