@import "../../../assets/styles/setting";

.heading-wrapper {
    background-color: $violet-light;
    padding: 80px 100px;

    h1 {
        color: $darkest-blue;

        svg {
            position: relative;
            top: 4px;
            right: 5px;
        }
    }

    p {
        margin-top: 20px;
        color: $black;
        span {
            color: $red;
            display: inline-block;
            margin-left: 5px;
        }
    }
}