@import "../../../assets/styles/setting";

.heading-wrapper {
    background-color: $violet-light;
    padding: 80px 200px;

    h1 {
        color: $darkest-blue;
        font-size: 42px;

        span {
            font-weight: bold;
        }

        svg {
            position: relative;
            top: 4px;
            right: 5px;
        }
    }

    p {
        margin-top: 20px;
        color: $black;

        span {
            color: $red;
            display: inline-block;
            margin-left: 5px;
        }
    }
}