$violet: #7E33E0;
$violet-light: #F6F5FF;
$violet-dark: #F1F0FF;

$green: #08D15F;
$green-light: #EBF4F3;
$border: #d6d5db;

$red: #FB2E86;
$darkest-blue: #0D0E43;
$light-blue: #9096B2;
$light: #FFFFFF;
$black: #111;


$red-gradient: linear-gradient(to right, #FB2E86, #ff8f77);
$purple-gradient: linear-gradient(to right, #6e56ff, #9b73ff, #7E33E0);
$green-gradient: linear-gradient(to right, #56c2ff, #08D15F);

$danger-modal-bg: radial-gradient(circle, $light 50%, #a084c5);


// ------------------ @media sizes ------------------
$small: 600px;
$medium: 950px;
$large: 1200px;
$x-large: 1350px;
$xx-large: 1525px;

// @media (max-width: $x-large) {}
// @media (max-width: $large) {}
// @media (max-width: $medium) {}
// @media (max-width: $small) {}


// ======================================================================
// ======================= FLEX =========================================
// ======================================================================
@mixin flex($direction: row, $align: center, $justify: center, $gap: 10px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// ======================================================================
// ======================= GRID =========================================
// ======================================================================
@mixin grid($columns: 12, $size: 1fr, $gap: 10px) {
    display: grid;
    grid-template-columns: repeat($columns, $size);
    gap: $gap;
}

// ======================================================================
@mixin darken_bg_on_hover($color, $percent: 20%) {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        transition: 0.4s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 100%;
        z-index: 0;
        border-radius: inherit;
        background: darken($color, $percent);
    }

    &:hover::before {
        z-index: -1;
        left: 0;
        right: 0;
    }
}

@mixin card_hover($color: $violet) {
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 200%;
        background-color: $color;
        z-index: 0;
    }

    &:hover::before {
        left: 0;
        right: 0;
        z-index: -1;
    }

    &:hover {
        color: $light;
        scale: 1.1;

        .icons {
            color: $violet;
        }

        h4 {
            color: $light;
        }
    }
}